body{
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    border: 2px solid coral;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
.sideNavigation {
    width: 5rem;
    /*visibility: hidden;*/
}
.footer {
    width: 100%;
    margin-bottom: 0;

    z-index: 1;
    background-color: black;
    color: #FFFFFF;
}

.main-container {
    height: 100%;
    display: flex;
}

.column2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}